darkbody {
  color: #FFFFFF;
  height: 100vh;
  font-family: 'roboto';
  user-select: none;
  margin: 0;
  overflow: hidden;
}

.darktext-white {
  --tw-text-opacity: 1;
  color: #FFFFFF;
}

.darkinnerBackground {
  background: #1D1D1D;
  border: 1px solid #28292E;
  border-radius: 5px;
}

.darkheader {
  background: #1D1D1D;
  border: 1px solid #28292E;
}

.darkkeyTitle {
  font-family: Gilroy-SemiBold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #95a7b2;
}
.darklicenseTitle {
  font-family: Gilroy-SemiBold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #95a7b2;
  padding-bottom: 10px;
}
.darkOpenDashboard {
  font-family: Gilroy-Bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #95a7b2;
}

.darkinputLicenseKey input {
  padding: 12px 16px;
  font-family: Gilroy-SemiBold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #95a7b2;
  border-radius: 6px;
  background: #1D1D1D;
  border: 1px solid #28292E;
  outline: none;
  width: 66%;
}
.darkinputLicenseKey .verifyKey {
  padding: 8px 16px;
  font-family: Gilroy-SemiBold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #00b574;
  border-radius: 6px;
  background: #1D1D1D;
  border: 1px solid #28292E;
  outline: none;
  width: 66%;
}

.darksidebar {
  background: #1D1D1D;
  border: 1px solid #28292E;
  margin-top: -10px;
}
.darkmain {
  background: white;
}

.darkAIO_text {
  border-bottom: 1px solid #28292E;
  margin: 0 32px;
}

.darksubmenu {
  padding: 10px 24px;
  margin: 7px;
  color: #95a7b2;
  background: #262626;
  border-radius: 3px;
  font-family: Gilroy-Bold;
}

.darkloggedFooter {
  background: #262626;
  border: 1px solid #28292E;
  padding: 12px 13px;
}

.darkprogress {
  width: 60%;
  background: #1D1D1D;
  border: 1px solid #28292E;
  height: 6px;
  margin: 0 10px;
  border-radius: 5px;
}

.darklastCheckout {
  background: #1D1D1D;
  border: 1px solid #28292E;
  border-radius: 5px;
  max-height: 464px;
  height: 100%;
}
.darklatestCheckoutHeader {
  background: #262626;
  border: 1px solid #28292E;
  padding: 9px 23px;
}

.darkcheckProductHeader {
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
  grid-gap: 10px;
  border-bottom: 1px solid #28292E;
  padding: 6px;
}

.darkproductContent {
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
  padding: 6px;
  background: #262626;
  border: 1px solid #28292E;
  border-radius: 5px;
  margin: 15px 15px 6px 15px;
}
.darkupdatediscord {
  background: #1D1D1D;
  border: 1px solid #28292E;
  border-radius: 5px;
  margin: 12px 0 7px 14px;
  padding: 19px 0;
}
.darkupdateBorder {
  border: 1px solid #28292E;
  margin: 9px 33px;
}

.darktotalCheckoutDashboard {
  background: #1D1D1D;
  border: 1px solid #28292E;
  border-radius: 5px;
  padding: 23px 27px 0px 27px;
  margin: 24px 0 7px 14px;
}

.darktotalDeclines {
  background: #1D1D1D;
  border: 1px solid #28292E;
  border-radius: 5px;
  padding: 23px 27px 0px 27px;
  margin: 12px 0 7px 14px;
}

.darktotalFailures {
  background: #1D1D1D;
  border: 1px solid #28292E;
  border-radius: 5px;
  padding: 23px 27px 0px 27px;
  margin: 12px 0 7px 14px;
}

.darktasks__header {
  background: #262626;
  border: 1px solid #28292E;
  padding: 9px 23px;
  border-radius: 5px;
}
.darkbg-task {
  background: #262626;
}
.darkborder-task {
  border: 1px solid #28292E;
}

.darktask__border {
  border: 1px solid #28292E;
  margin: 8px 0;
}
.darkborder-radius-5 {
  border-radius: 5px;
}
.darktaskGroupsTitle {
  padding: 9px 27px;
}
.darktaskGroup {
  background: #1D1D1D;
}
.darkcreatGroup {
  padding: 12px 16px;
  background: #1D1D1D;
  margin: 8px;
  border-radius: 5px;
}
.darkmiddleLine {
  border: 1px solid #28292E;
  margin-bottom: 8px;
}

.darkbg-inactiveBg {
  background: #262626;
}

.darkborder-inactiveBottom {
  border: 1px solid #28292E;
  margin: 10px 0;
}

.darkcreate-task {
  width: 35%;
  position: absolute;
  left: 30%;
  background: white;
  top: 22%;
}

.darktask-modal-content select {
  padding: 8px 12px;
  width: 100%;
  outline: none;
  border: none;
  margin: 5px 0;
  border-radius: 5px;
  background: #1D1D1D;
  color: white;

  font-family: Gilroy-Bold;
}
.darktask-modal-content input {
  padding: 8px 12px;
  width: 100%;
  outline: none;
  border: none;
  margin: 5px 0;
  border-radius: 5px;
  background: #1D1D1D;
  color: white;
}

.darkprofilePart {
  background: #262626;
  border-radius: 5px;
  width: 26%;
  padding: 12px 17px;
}
.darkProfile__Content {
  background: #1D1D1D;
  border: 1px solid #28292E;
}

.darkinactiveProfileBorder {
  border: 1px solid #28292E;
  margin: 12px 0;
}
.darkprofileInBorder {
  border: 1px solid #28292E;
  margin: 6px 0;
}

.darkaddProxy__header {
  background: #262626;
  border: 1px solid #28292E;
  padding: 9px 12px;
  border-radius: 5px;
}

.darkAccountContent {
  margin: 0 14px 10px 11px;

  padding: 11px;
  background: #262626;
}
